.work {
  &__list {
    display: grid;
    margin: 0 auto;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-bottom: 30px;
  }
  &__item {
    max-width: 368px;
  }
  &__text {
    position: absolute;
    bottom: 20px;
  }
  &__img {
    object-fit: cover;
    width: 100%;
  }
}
